body {
   background-color: #333333;
}
div {
   background: #c0dec5;
   margin: 64px;
   padding: 32px 48px 0 48px;
}
span {
   font-variant: small-caps;
   font-family: Tahoma, sans-serif;
   letter-spacing: 0.25em;
   padding: 0 3px;
   background-color: rgba(100, 150, 150, .5);
}
p {
	font-family: Georgia, serif;
	font-size: 20px;
	line-height: 1.4em;
}