body {
   height: 100vh;
   /* width: 100vw; */
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   align-content: center;
   justify-items: center;
   justify-content: center;
}
main {
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
      "complete-board";
}
#complete-board {
   grid-template-columns: auto;
   grid-template-rows: auto auto auto;
   grid-template-areas: 
      "top-board"
      "board"
      "bottom-board";
   background-color: grey;
   border-radius: 30px;
   border: 3px solid lightgrey;
   padding: 30px;
}
#top-board {
   grid-area: top-board;
   height: 60px;
   background-color: lightgrey;
   border-radius: 15px;
   font-family: 'Segment7Standard';
   font-weight: normal;
   font-style: italic;
   display: flex;
   margin: 0 0 15px 0;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
      "timer start-btn num-bombs";
}
#timer {
   grid-area: timer;
   flex-grow: 1;
}
#timer p, #num-bombs p {
   color: red;
   line-height: 30px;
}
#start-btn {
   grid-area: start-btn;
   width: 60px;
   margin: 5px;
   border-radius: 10px;
}
#num-bombs {
   grid-area: num-bombs;
   flex-grow: 1;
}
#board {
   grid-area: board;
   text-align: center;
   align-content: center;
   justify-items: center;
   justify-content: center;
   display: grid;
   grid-template-columns: repeat(15, 35px);
   grid-template-rows: repeat(15, 35px);
   grid-column-gap: 1px;
   grid-row-gap: 1px;

}
#bottom-board {
   grid-area: bottom-board;
   /* height: 30px;
   background-color: yellow; */
}
.cell {
   background-color: grey;
   height: 30px;
   width: 30px;
   line-height: 30px;
   border-left: 5px solid darkgrey;
   border-bottom: 5px solid darkgrey;
   border-right: 5px solid white;
   border-top: 5px solid white;
}
.flagged {
   background-image: url('../images/flag.png');
   background-size: cover;
   background-color: lightgray;
}
.clicked {
   background-color: lightgrey;
}
div.clicked.b {
   background-image: url('../images/explosion.png');
   background-size: cover;
   background-color: lightgray;
   font-size: 0;
}
div.clicked.n {
   background-color: lightgray;
   font-size: 0;
}
div.clicked.one {
   color: green;
}
div.clicked.two {
   color: blue;
}
div.clicked.three {
   color: yellow;
}
div.clicked.four {
   color: darkorchid;
}
div.clicked.five {
   color: orange;
}
div.clicked.six {
   color: red;
}
footer {
   display: flex;
   text-align: center;
   align-content: center;
   align-items: center;
   justify-content: center;
   bottom: 0;
   height: 50px;
   line-height: 50px;
   font-family: 'Fredoka One', cursive;
}
footer a {
   text-decoration: none;
   color: black;
}
footer span {
   font-family: 'Dancing Script', cursive;
   font-size: 15px;
}
footer img {
   height: 20px;
   width: 20px;
}
