<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>New Flight</title>
</head>
<body>
   <h1>Add a New Flight</h1>
   <form action="/flights" method="POST">
      <label>Air Lines
         <select name="airLine">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
         </select>
      </label><br>
      <label>Flight No:
         <input type="text" name="flightNo" autocomplete="off">
      </label>
      <label>Gate
         <select name="gate">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
         </select>
      </label><br>
      <label>From:
         <select name="from">
            <option value="Toronto">Toronto</option>
         </select>
      </label>
      <label>To:
         <select name="to">
            <option value="Ottawa">Ottawa</option>
            <option value="Edmonton">Edmonton</option>
            <option value="Victoria">Victoria</option>
            <option value="Winnipeg">Winnipeg</option>
            <option value="Fredericton">Fredericton</option>
            <option value="St. John's">St. John's</option>
            <option value="Halifax">Halifax</option>
            <option value="Charlottetown">Charlottetown</option>
            <option value="Quebec City">Quebec City</option>
            <option value="Regina">Regina</option>
            <option value="Yellowknife">Yellowknife</option>
            <option value="Iqaluit">Iqaluit</option>
            <option value="Whitehorse">Whitehorse</option>
         </select>
      </label><br>
      <label>Departure Date:
         <input type="date" name="flightDate" autocomplete="off">
      </label><br>
      <label>Departure Time:
         <input type="time" name="flightTime" autocomplete="off">
      </label><br>
      <label>Status:
         <select name="status">
            <option value="Scheduled">Scheduled</option>
            <option value="Confirmed">Confirmed</option>
            <option value="On Time">On Time</option>
            <option value="Delayed">Delayed</option>
            <option value="Cancelled">Cancelled</option>
            <option value="Boarding">Bording</option>
            <option value="Done">Done</option>
         </select>
      </label><br>
      <input type="submit" class="btn btn-success" value="Add Flight"><input type="button" class="btn btn-danger" onclick="location.href='/flights'" value="Cancel">
   </form>
</body>
</html>