div {
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.App {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  height: 100vh;
  width: 70vw;
  text-align: center;
  margin: auto;
}

.kitchen {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr 9fr;
  background-color: #f1a63c;
}

#real-kitchen {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
}

.bedroom {
  background-color: #2a7188;
}

#bedroom-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

#bedroom-2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

#bedroom-3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}

.bath {
  background-color: #718831;
}

#bath-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

#bath-2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.livingroom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #c9ab81;
}

.oven {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #d46842;
}

.sink {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #935612;
}